body {
    margin-top: 5.0em;
    height: 100%;
}

html {
    height: 100%;
    margin: 0;
}

footer {
    padding: 1.0em 0 0.5em;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}

.content {
    padding-bottom: 60px;
    min-height: 100%;
    margin: 0 auto -50px;
}

.card .card-img-top img {
    max-width: 100%;
    height: auto;
}

.delete-form {
    display: inline;
}

.comment-block {
    margin: 10px 0;
}

.form-block {
    width: 30%; 
    margin: 25px auto;
}

#write-comment {
    padding: 1.5em;
    border-left: 5px solid #00C851;
}

#edit-comment {
    padding: 1.5em;
    border-left: 5px solid #ffbb33;
    margin-top: 15px;
}

.campground-card-title {
    padding: 0.5em;
    padding-bottom: 0;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}