body {
    padding-top: 5.0em;
}

.card .card-img-top img {
    max-width: 100%;
    height: auto;
}

.delete-form {
    display: inline;
}

.comment-block {
    margin: 10px 0;
}

.form-block {
    width: 30%; 
    margin: 25px auto;
}

#write-comment {
    padding: 1.5em;
    border-left: 5px solid #00C851;
}

#edit-comment {
    padding: 1.5em;
    border-left: 5px solid #ffbb33;
    margin-top: 15px;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}